body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    color: yellow;
    font-family: 'Comic Sans MS';
}

#canvas {
    width: 640px;
    height: 480px;
    border: 1px solid black;
}